
.cache/
output_analysis/
.git/
plot_images/
build/
.idea/
__pycache__/
runtime/
node_modules/
site-packages/
out/
*.egg-info/
debug.*/
.vscode/
*.mp4
*.zip
*.xlsx
results/
/A01_paper_exp/results/
*.npz
output/
*.bin